* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  margin: 80px auto;
  max-width: 640px;
  width: 100%;
}

form {
  margin-top: 30px;
}

h1,
h2,
button {
  font-family: cursive;
}

input,
button {
  display: block;
  padding: 8px;
  margin-bottom: 8px;
  width: 70%;
  resize: none;
}

button {
  background-color: rgb(53, 83, 250);
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 4, 255);
}

.sucess-message {
  background-color: green;
  padding: 16px;
  color: #fff;
  display: none;
}

.error-message {
  background-color: red;
  padding: 16px;
  color: #fff;
  display: none;
}
